{% extends "base.html" %}

{% block content %}
<section id="banner">
  <h2><strong>Texonomy</strong></h2>
  <p>A free online TeX symbol recognizer</p>
</section>

<section id="one">
  <canvas id="can" width="300" height="300" style="position:relative;top:30px;left:300px;border:2px solid;"></canvas>
  <img id="canvasimg" style="display:none;">

  <div style="position:relative;top:-50px;left:500px;">ERASER</div>

  <!-- Change COLOR to a function, firstly change point to circle, then change color. -->
  <div style="position:relative;top:-55px;left:510px;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>

  <input type="button" value="submit" id="sbmt" size="30" onclick="recognize()" style="position:relative;bottom:50px;left:300px;">

  <input type="button" value="clear" id="clr" size="30" onclick="erase()" style="position:relative;bottom:30px;left:300px;">
</section>

<footer id="footer">
  <div class="copyright">
    &copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>.
  </div>
</footer>

<script src="/static/jquery.min.js"></script>
<script src="/static/skel.min.js"></script>
<script src="/static/util.js"></script>
<!--[if lte IE 8]><script src="/static/respond.min.js"></script><![endif]-->
<script src="/static/main.js"></script>
{% endblock %}
